<%= form_for(@company) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :bar_no %><br>
    <%= f.number_field :bar_no %>
  </div>
  <div class="field">
    <%= f.label :link_no %><br>
    <%= f.number_field :link_no %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_area :title %>
  </div>
  <div class="field">
    <%= f.label :title_yomi %><br>
    <%= f.text_area :title_yomi %>
  </div>
  <div class="field">
    <%= f.label :series %><br>
    <%= f.text_area :series %>
  </div>
  <div class="field">
    <%= f.label :series_yomi %><br>
    <%= f.text_area :series_yomi %>
  </div>
  <div class="field">
    <%= f.label :volume %><br>
    <%= f.text_area :volume %>
  </div>
  <div class="field">
    <%= f.label :author %><br>
    <%= f.text_area :author %>
  </div>
  <div class="field">
    <%= f.label :author_yomi %><br>
    <%= f.text_area :author_yomi %>
  </div>
  <div class="field">
    <%= f.label :publisher %><br>
    <%= f.text_area :publisher %>
  </div>
  <div class="field">
    <%= f.label :publisher_yomi %><br>
    <%= f.text_area :publisher_yomi %>
  </div>
  <div class="field">
    <%= f.label :p_ymd %><br>
    <%= f.number_field :p_ymd %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </div>
  <div class="field">
    <%= f.label :isbn1_issn %><br>
    <%= f.text_area :isbn1_issn %>
  </div>
  <div class="field">
    <%= f.label :isbn2 %><br>
    <%= f.text_area :isbn2 %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_area :type %>
  </div>
  <div class="field">
    <%= f.label :collection %><br>
    <%= f.text_area :collection %>
  </div>
  <div class="field">
    <%= f.label :label1 %><br>
    <%= f.text_area :label1 %>
  </div>
  <div class="field">
    <%= f.label :label2 %><br>
    <%= f.text_area :label2 %>
  </div>
  <div class="field">
    <%= f.label :label3 %><br>
    <%= f.text_area :label3 %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_area :status %>
  </div>
  <div class="field">
    <%= f.label :lend_date %><br>
    <%= f.number_field :lend_date %>
  </div>
  <div class="field">
    <%= f.label :back_date %><br>
    <%= f.number_field :back_date %>
  </div>
  <div class="field">
    <%= f.label :lend_flg %><br>
    <%= f.number_field :lend_flg %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :memo %><br>
    <%= f.text_area :memo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
