<p id="notice"><%= notice %></p>

<h1>Listing Companies</h1>

<table>
  <thead>
    <tr>
      <th>Bar no</th>
      <th>Link no</th>
      <th>Title</th>
      <th>Title yomi</th>
      <th>Series</th>
      <th>Series yomi</th>
      <th>Volume</th>
      <th>Author</th>
      <th>Author yomi</th>
      <th>Publisher</th>
      <th>Publisher yomi</th>
      <th>P ymd</th>
      <th>Price</th>
      <th>Isbn1 issn</th>
      <th>Isbn2</th>
      <th>Type</th>
      <th>Collection</th>
      <th>Label1</th>
      <th>Label2</th>
      <th>Label3</th>
      <th>Status</th>
      <th>Lend date</th>
      <th>Back date</th>
      <th>Lend flg</th>
      <th>User</th>
      <th>Memo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.bar_no %></td>
        <td><%= company.link_no %></td>
        <td><%= company.title %></td>
        <td><%= company.title_yomi %></td>
        <td><%= company.series %></td>
        <td><%= company.series_yomi %></td>
        <td><%= company.volume %></td>
        <td><%= company.author %></td>
        <td><%= company.author_yomi %></td>
        <td><%= company.publisher %></td>
        <td><%= company.publisher_yomi %></td>
        <td><%= company.p_ymd %></td>
        <td><%= company.price %></td>
        <td><%= company.isbn1_issn %></td>
        <td><%= company.isbn2 %></td>
        <td><%= company.type %></td>
        <td><%= company.collection %></td>
        <td><%= company.label1 %></td>
        <td><%= company.label2 %></td>
        <td><%= company.label3 %></td>
        <td><%= company.status %></td>
        <td><%= company.lend_date %></td>
        <td><%= company.back_date %></td>
        <td><%= company.lend_flg %></td>
        <td><%= company.user_id %></td>
        <td><%= company.memo %></td>
        <td><%= link_to 'Show', company %></td>
        <td><%= link_to 'Edit', edit_company_path(company) %></td>
        <td><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Company', new_company_path %>
