<p id="notice"><%= notice %></p>

<p>
  <strong>Bar no:</strong>
  <%= @company.bar_no %>
</p>

<p>
  <strong>Link no:</strong>
  <%= @company.link_no %>
</p>

<p>
  <strong>Title:</strong>
  <%= @company.title %>
</p>

<p>
  <strong>Title yomi:</strong>
  <%= @company.title_yomi %>
</p>

<p>
  <strong>Series:</strong>
  <%= @company.series %>
</p>

<p>
  <strong>Series yomi:</strong>
  <%= @company.series_yomi %>
</p>

<p>
  <strong>Volume:</strong>
  <%= @company.volume %>
</p>

<p>
  <strong>Author:</strong>
  <%= @company.author %>
</p>

<p>
  <strong>Author yomi:</strong>
  <%= @company.author_yomi %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @company.publisher %>
</p>

<p>
  <strong>Publisher yomi:</strong>
  <%= @company.publisher_yomi %>
</p>

<p>
  <strong>P ymd:</strong>
  <%= @company.p_ymd %>
</p>

<p>
  <strong>Price:</strong>
  <%= @company.price %>
</p>

<p>
  <strong>Isbn1 issn:</strong>
  <%= @company.isbn1_issn %>
</p>

<p>
  <strong>Isbn2:</strong>
  <%= @company.isbn2 %>
</p>

<p>
  <strong>Type:</strong>
  <%= @company.type %>
</p>

<p>
  <strong>Collection:</strong>
  <%= @company.collection %>
</p>

<p>
  <strong>Label1:</strong>
  <%= @company.label1 %>
</p>

<p>
  <strong>Label2:</strong>
  <%= @company.label2 %>
</p>

<p>
  <strong>Label3:</strong>
  <%= @company.label3 %>
</p>

<p>
  <strong>Status:</strong>
  <%= @company.status %>
</p>

<p>
  <strong>Lend date:</strong>
  <%= @company.lend_date %>
</p>

<p>
  <strong>Back date:</strong>
  <%= @company.back_date %>
</p>

<p>
  <strong>Lend flg:</strong>
  <%= @company.lend_flg %>
</p>

<p>
  <strong>User:</strong>
  <%= @company.user_id %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @company.memo %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
