<%= form_for(@book) do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div id="regMain">
<div id="Reg">

<!--　画面左 -->
	<div id="infoMain">

		<div class="date"><p>バーコード番号</p>
		<%= f.number_field :bar_no %>
		</div>
		<div class="date"><p>種別</p>
		<%= f.text_area :types %>
		</div>
		<div class="date"><p>紐づけ番号</p>
		<%= f.number_field :link_no %>
		</div>

		<div class="date"><p>タイトル</p>
		<%= f.text_area :title %>
		</div>
		<div class="date"><p>ﾀｲﾄﾙﾖﾐ</p>
		<%= f.text_area :title_yomi %>
		</div>

		<div class="date"><p>シリーズ</p>
		<%= f.text_area :series %>
		</div>
		<div class="date"><p>ｼﾘｰｽﾞﾖﾐ</p>
		<%= f.text_area :series_yomi %>
		</div>

		<div class="date"><p>編著者</p>
		<%= f.text_area :author %>
		</div>
		<div class="date"><p>ﾍﾝｼｮﾁｬﾖﾐ</p>
		<%= f.text_area :author_yomi %>
		</div>

		<div class="date"><p>出版社</p>
		<%= f.text_area :publisher %>
		</div>
		<div class="date"><p>ｼｭｯﾊﾟﾝｼｬﾖﾐ</p>
		<%= f.text_area :publisher_yomi %>
		</div>

		<div class="date"><p>目次/特集</p>
		<textarea id="content"></textarea>
		</div>

	</div>

<!--　画面右 -->
	<div id="infoEtc">
	
		<div class="date"><p>状態</p><%= f.text_area :status %></div>
		<div class="date"><p>貸出日</p><%= f.number_field :lend_date %>〜</div>
		<div class="date"><p>返却日</p><%= f.number_field :back_date %></div>
		<div class="date"><p>利用者</p><%= f.number_field :user_id %></div>

		<div class="date"><p>所蔵場所</p>
		<%= f.text_area :collection %>
		</div>

		<div class="date"><p>請求ラベル</p>
		<%= f.text_area :label1 %>
		</div>
		<div class="date"><p></p><%= f.text_area :label2 %>
		</div>
		<div class="date"><p></p><%= f.text_area :label3 %>
		</div>

		<div class="date"><p>出版年月日</p>
		<%= f.number_field :p_ymd %>
		</div>

		<div class="date"><p>価格</p>
		<%= f.number_field :price %>
		</div>

		<div class="date"><p>ISBN1/ISSN</p>
		<%= f.text_area :isbn1_issn %>
		</div>
		<div class="date"><p>ISBN2</p>
		<%= f.text_area :isbn2 %>
		</div>

		<div class="date"><p>メモ</p>
		<%= f.text_area :memo %>
		</div>


  <div class="field">
    <%= f.label :巻号 %><br>
    <%= f.text_area :volume %>
  </div>

  <div class="field">
    <%= f.label :lend_flg %><br>
    <%= f.number_field :lend_flg %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
  
	</div>

</div>
</div>



<% end %>
