<head>
  <meta charset="utf-8">
  <title>蔵書管理：検索</title>
  <link rel="stylesheet" href="style.css">
  </head>
<p id="notice"><%= notice %></p>

<div id="header">
<div id="hArea">	

	<div id="hLogo">キーワード検索</div>

	<div id="hNavi">
		<ul>
			<li><%= link_to image_tag('entry_book.jpg'), new_book_path %></li>
			<li><a href="./EntryUser.html"><img src="./entry_user.jpg"></a></li>
		</ul>
	</div>

	</div>
</div>

<div id="main">
<div id="SchArea">
	<div id="SchTxt">
	<%= form_tag(books_path, method: :get) do %>
		<%= text_field_tag :search, '', class: 'form-control',maxlength: 100, placeholder: '検索キーワードを入力' %>
		<%= image_submit_tag('search.jpg', :class => "sch_icon") %>
	<% end %>
	</div>
</div>
</div>

<div id="Contents">
<div id="SchRes">
	
	<div id="Squeeze">
	<h3>絞り込みを表示</h3>
    <div id="SquMenu">
		<div id="Squtype">種別 <img src="/close.jpg" width="20px" onclick="changeIMG()" align=right></div>
			<div id="typeBox">
		<% @book.each do |book| %>
		<ul>
			<%= form_tag(books_path) do %>
			<li><%= submit_tag(book.types) %></li>
			<% end %>
		</ul>
		    <% end %>
			</div>
		<div id="Squpubyear">出版年 <img src="/close.jpg" width="20px" align=right></div>
			<div class="pubyearBox">
			<ul>
				<li><input type="text" name="year" size="5" maxlength="4" >年</li>
				～
				<li><input type="text" name="year" size="5" maxlength="4" >年</li>
			</ul>
			</div>
	</div>
	</div>

	<div id="Result"><h3>XX冊中　XX冊ヒット</h3><%= link_to '検索条件のクリア', request.path %>
	<hr>
    <% @books.each do |book| %>
	<div id="list">
      <tr>
    		<div id="datelist">
        	<td><%= link_to book.title, book, :class => "title" %></td>
        	<td><%= book.series %></td>
        	<td><%= book.volume %></td>
        	<td><%= book.author %></td>
        	<td><%= book.publisher %></td>
        	<td><%= book.p_ymd %></td>
      	</div>
    		<div id="lAicon">
					<dl><dt></dt><dd><%= book.label1 %></dd></dl>
					<dl><dt></dt><dd><%= book.label2 %></dd></dl>
					<dl><dt></dt><dd><%= book.label3 %></dd></dl>
				</div>
        <td><%= link_to '編集', edit_book_path(book) %></td>
        <td><%= link_to '削除', book, method: :delete, data: { confirm: '本当に削除して良い？' } %></td>
      </tr>

	</div>
    <% end %>
	<%= paginate @books %>
	</div>
</div>
</div>

</body>
</html>
