<p id="notice"><%= notice %></p>

<p>
  <strong>Bar no:</strong>
  <%= @book.bar_no %>
</p>

<p>
  <strong>Link no:</strong>
  <%= @book.link_no %>
</p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Title yomi:</strong>
  <%= @book.title_yomi %>
</p>

<p>
  <strong>Series:</strong>
  <%= @book.series %>
</p>

<p>
  <strong>Series yomi:</strong>
  <%= @book.series_yomi %>
</p>

<p>
  <strong>Volume:</strong>
  <%= @book.volume %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Author yomi:</strong>
  <%= @book.author_yomi %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @book.publisher %>
</p>

<p>
  <strong>Publisher yomi:</strong>
  <%= @book.publisher_yomi %>
</p>

<p>
  <strong>P ymd:</strong>
  <%= @book.p_ymd %>
</p>

<p>
  <strong>Price:</strong>
  <%= @book.price %>
</p>

<p>
  <strong>Isbn1 issn:</strong>
  <%= @book.isbn1_issn %>
</p>

<p>
  <strong>Isbn2:</strong>
  <%= @book.isbn2 %>
</p>

<p>
  <strong>Types:</strong>
  <%= @book.types %>
</p>

<p>
  <strong>Collection:</strong>
  <%= @book.collection %>
</p>

<p>
  <strong>Label1:</strong>
  <%= @book.label1 %>
</p>

<p>
  <strong>Label2:</strong>
  <%= @book.label2 %>
</p>

<p>
  <strong>Label3:</strong>
  <%= @book.label3 %>
</p>

<p>
  <strong>Status:</strong>
  <%= @book.status %>
</p>

<p>
  <strong>Lend date:</strong>
  <%= @book.lend_date %>
</p>

<p>
  <strong>Back date:</strong>
  <%= @book.back_date %>
</p>

<p>
  <strong>Lend flg:</strong>
  <%= @book.lend_flg %>
</p>

<p>
  <strong>User:</strong>
  <%= @book.user_id %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @book.memo %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
