<head>
  <meta charset="utf-8">
  <title>蔵書管理：書誌詳細 図書</title>
  <link rel="stylesheet" href="css/styleDetail.css">
  </head>
<p id="notice"><%= notice %></p>
<%= link_to '編集画面', edit_book_path(@book) %> |
<%= link_to '検索画面', books_path %>
<div id="BookDetail">
<div id="bDetailMain">
	<div id="bAicon">
	<div id="aImg"><img src="/book.jpg"></div>
	<dl><dt></dt><dd><%= @book.label1 %></dd></dl>
	<dl><dt></dt><dd><%= @book.label2 %></dd></dl>
	<dl><dt></dt><dd><%= @book.label3 %></dd></dl>
	</div>
	
	<div id="bInfo">
	<dl><dt>バーコード番号</dt><dd><%= @book.bar_no %></dd></dl>
	<dl><dt>タイトル</dt><dd><%= @book.title %></dd></dl>
	<dl class="yomi"><dt>　</dt><dd><%= @book.title_yomi %></dd></dl>
	<dl><dt>シリーズ</dt><dd><%= @book.series %></dd></dl>
	<dl class="yomi"><dt>　</dt><dd><%= @book.series_yomi %></dd></dl>
	<dl><dt>編著者</dt><dd> <%= @book.author %></dd></dl>
	<dl class="yomi"><dt>　</dt><dd><%= @book.author_yomi %></dd></dl>
	<dl><dt>出版社</dt><dd><%= @book.publisher %></dd></dl>
	<dl class="yomi"><dt>　</dt><dd><%= @book.publisher_yomi %></dd></dl>
	<dl><dt>出版年月日</dt><dd><%= @book.p_ymd %></dd></dl>
	<dl><dt>ISBN</dt><dd><%= @book.isbn1_issn %> / <%= @book.isbn2 %></dd></dl>
	<dl><dt>所蔵場所</dt><dd><%= @book.collection %></dd></dl>
	<dl><dt>状態</dt><dd><%= @book.status %></dd></dl>
	</div>
</div>
</div>


<div id="SeriesListB">
<div id="sListMain">
	
<h3>シリーズ一覧</h3>
	<div class="list">
		<dl><dt><%= @book.bar_no %>.</dt><dd><%= @book.title %></dd><dd><%= @book.volume %></dd><dd><%= @book.p_ymd %></dd><dd><%= @book.status %></dd></dl>
	</div>
</div>
</div>

</body>
</html>


